<div class='topBarContainer'>
  <div class='topBarLeft'>
    <img src='/api/public/image/Social.jpg' alt='' class='logoSocial' />
    <span class='logo'>HiDi Social</span>
  </div>
  <div class='topBarCenter'>
    <div class='search'>
      <span id='SearchIcon' class='material-icons-two-tone'>search</span>
      <input type='text' placeholder='Search Friend or Post' class='SearchInput' />
    </div>
  </div>
  <div class='topBarRight'>
    <div class='topBarLink'>
      <span class='topBarLink'>Home Page</span>
      <span class='topBarLink'>TimeLine</span>
    </div>
    <div class='topBarIcon'>
      <span class='material-icons-two-tone'>person</span>
      <span class='topBarBadge'>1</span>
    </div>
    <div class='topBarIcon'>
      <span class='material-icons-two-tone'>chat</span>
      <span class='topBarBadge'>2</span>
    </div>
    <div class='topBarIcon'>
      <span class='material-icons-two-tone'>notifications</span>
      <span class='topBarBadge'>3</span>
    </div>
    <img src='/api/public/image/DaiDien.jpg' alt='' class='topBarImage' />
  </div>
</div>